* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
    
    background-color: red;
  }

#main {
  margin-top: 80px;
}

p, h3, h4, h5, h6, ul {
    margin: 15px;

}

h1, h2 {
    margin: 15px;
}

img {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #menu {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0;
    background-color: azure;
    border-bottom: 10px solid #ff0090; 
    border-top: 10px solid #ff0090;
    display: table;
    position: fixed;
    top: 0;
    width: 100%;
  }

#menu li {
    margin-bottom: 10px;
    list-style-type: none;
    float: left;
  }

#menu li a {
    display: block;
    padding-inline: 10px;
    font-weight: bold;
    color: darkcyan;
  }

#menu li a:hover {
    color: #ff0090;
  }