* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
      
      background-color: rgb(0, 255, 51);
    }
  
  .main {
    margin-top: 80px;
    background-image: url('./images/img1.jpg');
  }
  
  p, h3, h4, h5, h6, ul {
      margin: 15px;
  }
  
  h1, h2 {
      margin: 15px;
  }
  
  img {
      margin-top: 5px;
      margin-bottom: 0px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    #menu {
      width: 100%;
      margin: 0px 0px 0px 0px;
      padding: 0;
      background-color: rgb(4, 255, 0);
      display: table;
      position: fixed;
      top: 0;
      width: 100%;
    }
  
  #menu li {
      margin-bottom: 10px;
      list-style-type: none;
      float: left;
    }
  
  #menu li a {
      display: block;
      padding-inline: 10px;
      font-weight: bold;
      color: rgb(139, 0, 0);
    }
  
  #menu li a:hover {
      color: #ff0000;
    }

