* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
      background-color: rgb(6, 12, 44);
    }
  
  .header {
   margin-top: 50px;
   background-color:rgb(34, 49, 74)
  }
  
  p, h4, h5, h6, ul {
      margin: 15px;
      color: rgb(133, 172, 220);
  }
  
   h2, h3 {
      margin: 15px;
      color: rgb(159, 192, 215);
  }
  
  h1 {
    color: rgba(251, 251, 251, 0.992);
  }
  img {
      margin-top: 5px;
      margin-bottom: 0px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    #menu {
      width: 100%;
      margin: 0px 0px 0px 0px;
      padding: 0;
      background-color: rgb(10, 11, 48);
      display: table;
      position: fixed;
      top: 0;
      width: 100%;
    }
  
  #menu li {
      margin-bottom: 10px;
      list-style-type: none;
      float: left;
    }
  
  #menu li a {
      display: block;
      padding-inline: 10px;
      font-weight: bold;
      color: rgb(117, 141, 201);
    }
  
  #menu li a:hover {
      color: rgb(32, 52, 103);
    }

    a:link {
      color: rgb(168, 202, 223);
      text-decoration: none;
    }
  
  a:visited {
      color: #34364b;
    }
    
  a:hover {
      color: #8fb9af;
    }
    
  a:active {
      color: #dee3df;
    }
